@import '../general/base.scss';

.titleAndChapter{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}
div.tox.tox-tinymce{
    margin-top: 10px;
}
.imgPreview{
    width: 500px;
    height: auto;
}
form.changeImg{
    display: flex;
    flex-direction: column;
}
input[type=submit]{
    width: 100px;
}