hr{
    height: 1px;
    background: gray;
    border: none;
    outline: none;
    margin-top: 3em;
    margin-bottom: 3em;
}

hr.article, hr.category{
    margin: 7em 2em 7em 2em;
}
hr.sep {
    position: relative;
    &:before{
        content: attr(data-symbol);
        text-align: center;
        position: absolute;
        top: 0;
        left: 50%;
        background-color: $fond;
        color: black;
        padding: 0.5em 3em;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        border-left: 1px solid black;
        border-right: 1px solid black;
    }
  }
div.fixed-table-toolbar{
    text-align: center;
}
.btn{
    font-size: 1.6rem;
}
td .btn{
    font-size: 1rem;
}
@media screen and (max-width: 992px){
    hr:before{
        font-size: 1.7rem;
    }
}
@media screen and (min-width: 992px){
    hr:before{
        font-size: 4rem;
    }
}