@import '../general/base.scss';

.titleAndChapter{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}
div.tox.tox-tinymce{
    margin-top: 10px;
}
.imgPreview{
    width: 500px;
    height: auto;
}
form.changeImg{
    display: flex;
    flex-direction: column;
}
input[type=submit]{
    width: 100px;
}
span.btn{
    border-radius: 20px;
}
div.file-field{
    p.info{
        color: #9e9e9e;
        margin-bottom: 0;
        position: absolute;
        top: -45px;
    }
}
// Tiny

div.tox.tox-tinymce{
    width: 82%;
}
div.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btn.btn-secondary{
    margin-top: 2em;
}
@media screen and (max-width: 992px){
    div.titleAndChapter{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    div.input-field{
        margin: 2em;
    }
}
.hidden{
    display: none;
}