@import '../general/nav.scss';
@import '../general/général.scss';
@import url('https://fonts.googleapis.com/css2?family=Assistant&family=Roboto+Condensed:ital,wght@0,300;1,300&display=swap');section{
    margin-bottom: 100px;
}
h1{ 
    margin-bottom: 40px;
    font-family: 'Roboto Condensed', sans-serif;
}
h2{
    margin-bottom: 30px;
    font-family: 'Roboto Condensed', sans-serif;
    font-style: italic;
}
p{
    font-family: 'Assistant', sans-serif;
    font-size: 1.5rem;
}
td{
    font-size: 1rem;
}
h1.title{
    margin-top: 10px;
    font-size: 4rem;
}

//Administrateur
    //Articles
h1.titleArticle {
    font-size: 3rem;
    margin-bottom: 10px;
}
p.admin{
    margin-bottom: 40px;
}
h2.titleButton{
    margin-top: 30px;
    margin-bottom: 30px;
}
h2.titleTableArticle{
    margin-top: 30px;
    margin-bottom: 30px;
}
div.linkArticle .buttons{
    display: flex;
    justify-content: space-around;
}


// Auteur

h2.titleAllArticleAuthor{
    margin-top: 30px;
    margin-bottom: 30px;
}
div.iota.buttons.author{
    margin-top: 50px;
    margin-bottom: 50px;
}
table.author{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
// Auteur et administateur

td{
    border: 1px solid black;
}
td.category{
    border: 0;
}
table{
    border-collapse: collapse;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.actions{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
td{
    text-align: center;
    padding: 10px;
}
td.action{
    display: flex;
    flex-direction: column;
}
td p{
    margin-bottom: 0;
}