@import 'general/général.scss';
@import 'general/nav.scss';
h1, h2, p{
    color: rgba(0,0,0,.7);
}
h1{
    font-size: 5rem;
    font-family: 'Assistant', sans-serif;

}
h2{
    font-family: 'Assistant', sans-serif;
}

section.information{
    h2{
        font-size: 5rem;
        font-weight: bold;
    }
}
.contact{
    .row{
        height: 100%;
        h2{
            font-size: 2.5rem;
        }
    }
    .formulaire{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .info{
        address{
            margin-left: 50px;
            width: 100%;
            height: 100%;
            p{
                font-size: 1.7rem;
                font-family: 'Roboto Condensed', sans-serif;
                span{
                    font-size: 1.3rem;
                    font-family: 'Assistant', sans-serif;
                    color: black;
                }
            }
        }
    }
}


