// Classes passe partout
.center{
    text-align: center;
}
.justify{
    text-align: justify;
}
.flex-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}