@import 'general/nav.scss';
@import 'general/général.scss';

// Genéral
div.all{
    margin-top: 10em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .iota{
        margin-bottom: 5em;
    }
}
form{
    margin-top: 3em;
}

// Séparateur
hr{
    height: 1px;
    background: gray;
    border: none;
    outline: none;
    margin-top: 3em;
    margin-bottom: 3em;
}
hr.sep {
    position: relative;
    &:before{
        content: attr(data-symbol);
        text-align: center;

        position: absolute;
        top: 0;
        left: 50%;
        background-color: $fond;
        color: black;
        padding: 0.5em 3em;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        font-family: 'Assistant', sans-serif;
        font-size: 2.5rem;
        border-left: 1px solid black;
        border-right: 1px solid black;
    }
  }
// Setting
ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1.setting{
    font-size: 3rem;
}

form.update{
    input[type="password"]{
        width: 300px;
    }
}

p.oldEmail{
    font-size: 2.5rem;
}

@media screen and (min-width: 555px){
    div.emailButton{
        margin-left: 4em;
    }
}
@media screen and (max-width: 554px){
    form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
