@import '../general/général.scss';
@import '../general/nav.scss';

section{
    h1{
        margin-bottom: 100px;
        line-height: 70px;
    }
    div.articles{
        padding-top: 50px;
        background-color: #f0f1f1;
        color: black;
        border:1px solid rgba(198,198,198,1);
        article{
            margin-bottom: 100px;
        }
        p.category{
            font-style: italic;
        }
        img{
            margin-bottom: 30px;
            padding: 0;
            border: 2px outset #abc;
    
        }
        a{
            color: black;
        }
    }
}



aside{
    h2{
        margin-bottom: 30px;
    }
    h3{
        font-size: 2rem;
    }
    p{
        font-size: 1rem;
    }
    h3, a{
        color: #0c0f0a;
    }
    a:hover{
        color: #909090;
        text-decoration: none;
    }
    p{
        margin-left: 20px;
    }
}
@media screen and (max-width:1000px){
    aside{
        display: none;
    }
}