.button{
  display:inline-block;
  padding:0.5em 3em;
  margin:0 0.3em 0.3em 0;
  box-sizing: border-box;
  text-transform:uppercase;
  font-weight:400;
  text-align:center;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-property: transform;
  -webkit-transition-property: transform;
}
.button:hover, .button:focus, .button:active, .btn:hover, .btn:focus, .btn:active{
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}

$color_light: #FFFFFF;
.light{
  border:0.16em solid $color_light;
  color:$color_light;
}

$color_dark: black;
.dark{
  border:0.16em solid $color_dark;
  color:$color_dark;
}