// Général
@import 'buttons.scss';
@import './variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Assistant&family=Girassol&display=swap');
// Image date: Photo by Sergiu Vălenaș on Unsplash

h1, h2{
    font-family: 'Girassol', sans-serif;
    font-size: 6em;
    color: #403D39;
}
h1{
    font-weight: bold;
}
p,a, span{
    font-family: 'Assistant', sans-serif;
    font-size: 1.5em;
    color: #212227;
}
section{
    padding-top: 3em;
    padding-bottom: 3em;
}
hr.home{
        width: 90%;
        margin: 0 auto;
        border: none;
        border-bottom: 1px solid #666;
        box-shadow: 0px 0px 0px 0px #f9f9f9;
}
a:hover{
    text-decoration: none;
    color: black;
}
body:not(nav){
    margin: 0px;
    background-color: $fond;
    color: black;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main{
    flex: 1 0 auto;
}

footer{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 30px;
    background-color: #4A525A;
    div.row{
        width: 100%;
        div{
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;
            justify-content: center;
            h5{
                margin-bottom: 0;
            }
        }
    }
}
.alert.alert-info{
    position: absolute;
    z-index: 9999;
    top: 12px;
    right: 50%;
    width: 200px;
}
// Classes passe partout
.center{
    text-align: center;
}
.justify{
    text-align: justify;
}
.italic{
    font-style: italic;
}
.flex-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.underline{
    text-decoration: underline;
}
.uppercase{
    text-transform: uppercase;
}

.hidden{
    display: none;
}