// EXPOSITION

section.exposition{
    width: 80%;
    h1{
        font-weight: bold;
        margin-bottom: 0;
    }
    p.content{
        margin-top: 10px;
        font-size: 1.6rem;
    }
    a.btn{
        margin-top: 30px;
        margin-bottom: 30px;
    }
    a.button.dark{
        margin-top: 2em;
    }
}

@media screen and (max-width:576px){
    section.exposition{
        h1{
            margin-top: .5em;
        }
        img{
            width: 100%;
            padding: 0;
        }
        div.expositionContent{
            display: flex;
            flex-direction: column-reverse;
        }
        
    }
}
